/1 to 22 JavaScript
/27. Prompt,Alert,Confirm.js
/28. DOM, BOM and Windows
/29. chapter 6 - practis sate
/30. Exercise 2 - Snake, Water and Gun
/31. accessing Childenode of  an Element
/32,33,34 . Perent, Sibling, Child
/35. Table Navigator
/36,37. Selectores In Javascript
/38. Chapter 7 practice Sate
/40.Exercize 3 tell me a joke
/41.innerHTML,outerHTML, other
/42. HTML Atrribute and Their Mathods
/43,44,45. Insertion Mathods, className,classList
/46, setTimeOut and set
/47. Hendaling Browser Event
/48. Browser Events
/49. chapter 8 Event Listner
/51. Excersize - 4 Colock
/52. callBack function
/55.Promies
/57.Promies LoadScript
/58. Promies API
/59. async Function promies
/60. try and catch
/61,62. Error Object
/63. Prectice Set
/64.Fetch API
/67. Post_Request Fetch Data
/68. Cookies
/71. Practice set
/75.Prototype
/77.Class and Object
/78. inheritance class extend
/79.Method Overiding
/81. Static Method